body {
  padding: 0;
  margin: 0 auto;
  max-width: 1250px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.sub-page__top {
  text-align: center;
}
.sub-page__top-title {
  font-size: 50px;
  margin-bottom: 2px;
  font-family: "Open Sans", sans-serif;
}
.sub-page__top-text {
  font-size: 20px;
  color: rgb(96, 96, 96);
  font-family: "Open Sans", sans-serif;
}
.sub-page__top-payment-type {
  text-align: center;
  margin: 0 auto;
  width: 300px;
}
.sub-page__btn {
  text-decoration: none;
  color: gray;
  margin: 5px;
  font-family: "Open Sans", sans-serif;
  padding: 15px;
}
.sub-page__btn:hover {
  background-color: white;
  color: black;
  border-radius: 25px;
}
.sub-page__bottom-items {
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 900px) {
  .sub-page__bottom-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.sub-page__bottom-memberships {
  border: 1px solid gray;
  border-radius: 25px;
  padding: 20px;
  width: 350px;
  margin: 0 auto;
  position: relative;
}
.sub-page__bottom-title {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-bottom: 0;
}
.sub-page__bottom-text {
  color: gray;
}
.sub-page__bottom-price {
  font-size: 50px;
  font-weight: 800;
  margin: 10px;
}
.sub-page__bottom-price-span {
  bottom: 0;
  font-size: 20px;
  color: gray;
}
.sub-page__bottom-box-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  margin: 0;
}
.sub-page__bottom-box-text {
  color: gray;
  margin-top: 10px;
}
.sub-page__bottom-box {
  display: flex;
}
.sub-page__bottom-box-img {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border: 1px solid gray;
  height: 32px;
  border-radius: 50px;
  margin-right: 15px;
}
.sub-page__bottom-button {
  background-color: rgb(232, 232, 232);
  text-align: center;
  margin: 0;
  display: block;
  padding: 15px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
}
.sub-page__bottom-mostpopular {
  background-color: white;
  margin: 0 auto;
  position: absolute;
  right: 0;
  padding: 5px;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-right: 20px;
}

.buttom-right-style {
  background-color: rgb(42, 1, 42);
  color: white;
}

.gradient-background {
  background: rgb(255, 95, 231);
  background: linear-gradient(180deg, rgba(255, 95, 231, 0.2931766457) 0%, rgba(245, 143, 147, 0.5046612395) 28%, rgba(232, 233, 148, 0.3674063375) 57%, rgba(232, 233, 148, 0) 79%, rgba(232, 233, 148, 0) 100%);
}

.column-start {
  grid-column-start: 2;
  grid-column-end: 3;
}

.price-area {
  display: flex;
  align-items: first baseline;
}

#button-click .knobs:before,
#button-click .knobs:after,
#button-click .knobs span {
  position: absolute;
  top: 4px;
  width: 80px;
  height: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 200px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
  margin-left: 50px;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #d7d7d7;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-click .knobs:before {
  content: "";
  left: 4px;
  background-color: white;
}

#button-click .knobs:after {
  content: "Annual";
  right: 4px;
  color: #4e4e4e;
}

#button-click .knobs span {
  display: inline-block;
  left: 4px;
  color: black;
  z-index: 1;
}

#button-click .checkbox:checked + .knobs span {
  color: #000000;
}

#button-click .checkbox:checked + .knobs:before {
  left: 107px;
  background-color: white;
}

#button-click .checkbox:checked + .knobs:after {
  color: black;
}

#button-click .checkbox:checked ~ .layer {
  background-color: #d7d7d7;
}/*# sourceMappingURL=index.css.map */